<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sz.china.testmoudule">

    <!--openGL-->
    <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>

    <application
        android:name=".application.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/icon_m"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MenuListAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ImmersionAct"
            android:theme="@android:style/Theme.Translucent"></activity>

        <activity
            android:name=".TestRotateAnimationAct"
            android:theme="@android:style/Theme.Translucent"></activity>
        <activity android:name=".TestScanAct"></activity>
        <activity android:name=".TestAct1"></activity>
        <activity android:name=".TestUnlockViewAct"></activity>
        <activity android:name=".RecycleViewDemoAct"></activity>
        <activity android:name=".PullToRefreshScrollViewAct"></activity>
        <activity android:name=".SwipeRefreshLayoutAct"></activity>
        <activity android:name=".ScrollRemoveItemAct"></activity>
        <activity android:name=".HorizontalScrollPageMenuAct"></activity>
        <activity android:name=".TestFt"></activity>
        <activity android:name=".MagicLineAct"></activity>
        <activity android:name=".GreenDaoAct"></activity>
        <activity android:name=".RetrofitAndOkHttpAct"></activity>
        <activity android:name=".WifiInfoAct"></activity>
        <activity android:name=".ScanViewDemoAct"></activity>
        <activity android:name=".RecyclerViewDemoAct1"></activity>
        <activity android:name=".RecyclerViewDemoMenuAct"></activity>
        <activity android:name=".BlurDemo"></activity>
        <activity android:name=".GlideAct"></activity>
        <activity android:name=".FrameAnimationAct"></activity>
        <activity android:name=".NewsLayoutAct"></activity>
        <activity android:name=".CoordinatorLayoutSample"></activity>
        <activity android:name=".CoolDownloadingAct"></activity>
        <activity android:name=".SVGAnimAct"></activity>
        <activity android:name=".DataBindingSampleAct"></activity>
        <activity android:name=".ThreeDimensionalTestAct"></activity>
        <activity android:name=".ItemMarqueenSampleAct"></activity>
        <activity android:name=".LottieAct"></activity>
        <activity android:name=".HyperlinkAndSchmemAct"></activity>

        <activity android:name=".SchemeAct2">

            <intent-filter>
                <action android:name="android.intent.action.VIEW"></action>
                <category android:name="android.intent.category.DEFAULT"></category>

                <data android:host="host"></data>
                <data android:port="8888"></data>
                <data android:scheme="scheme"></data>
                <data android:path="/path"></data>
            </intent-filter>
        </activity>


    </application>

    <!--Glide配置-->
    <meta-data
        android:name="com.sz.china.testmoudule.GlideAct$GlideConfiguration"
        android:value="GlideModule" />

</manifest>